.click{
    transform: scale(1);
    transition: 1s;
}
.click:hover{
    transform: scale(1.05);
}
.photo-hover{
    transform: scale(1);
    transition: 1s;
}
.photo-hover:hover{
    transform: scale(1.05);
    border-radius: 5px;
}
.animation{
    animation: animation 10s infinite;
}
@keyframes animation {
    25%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.blue-hover{
    transition: 1.5s;
}
.blue-hover:hover{
    background-color: darkblue;
    cursor: pointer;
}